body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: o;
}

#name {
    color: orange;
    font-style: oblique;
    font-size: 50px;
}

h1 {
    font-size: 60px
}

.top {
    margin: 10px;
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    align-items: center;
    padding: 5px;
}

.half-1 {
    text-align: justify;
    width: 50%;
    align-self: baseline;
    border: 10px;
    padding: 5px;
    padding-top: 25px;
    font-size: 30px;
}

.half-2 {
    width: 50%;
}